
```css
/* CSS Reset / Normalize */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul, li {
    all: unset;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

input, textarea, button {
    all: unset;
}

/* Sessão Menu */
section.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

section.menu header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

section.menu header img {
    height: 22px;
    width: auto;
}

section.menu .menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Sessão Title */
section.title {
    margin-bottom: 30px;
    padding: 2rem 4rem;
}

section.title .title__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

section.title .title__div .title__profile {
    height: 300px;
    width: auto;
}

section.title .title__div .title__container .title__network {
    display: flex;
    gap: 16px;
    padding: 0;
}

/* Sessão About */
section.about {
    background-color: #EAF2FD;
    padding: 2rem 4rem;
}

/* Sessão Skills */
section.skills {
    padding: 2rem 4rem;
}

section#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

section.skills .skills__line {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
    gap: 14px;
    justify-items: center;
    align-items: center;
}

section.skills .skills__line .skills__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
    width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
}

section.skills .skills__box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Sessão Hobbies */
section.hobbies {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.hobbies .hobbies__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

section.hobbies .hobbies__line {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
    gap: 14px;
    justify-items: center;
    align-items: center;
}

section.hobbies .hobbies__line .hobbies__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
    width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
}

section.hobbies .hobbies__box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Experiência Acadêmica */
section.academic {
    background-color: #EAF2FD;
    padding: 2rem 4rem 8rem;
}

section.academic .academic__courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 14px;
    justify-items: center;
    align-items: center;
}

section.academic .academic__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

section.academic .academic__courses__box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 310px;
    background-color: #ffffff;
}

section.academic .academic__courses__list {
    position: absolute;
    left: 0;
    bottom: -86px;
}

/* Experiência */
section.experience {
    padding: 2rem 4rem;
}

section.experience .experience__section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

section.experience .experience__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

section.experience .experience__box:nth-child(3) {
    flex-direction: row-reverse;
}

section.experience .experience__box .experience__img {
    height: auto;
    max-width: 60%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
}

section.experience .experience__text {
    font-weight: 500;
    font-size: 16px;
}

section.experience .experiencia__botao--repo {
    text-align: center;
    width: 120px;
    padding: 18px 16px;
    color: #2A7AE4;
    background-color: #F5F5F5;
    border: 1px solid #2A7AE4;
    margin-right: 8px;
}

section.experience .experiencia__botao--demo {
    text-align: center;
    width: 120px;
    padding: 18px 16px;
    color: #ffffff;
    background-color: #2A7AE4;
    border: 1px solid #F5F5F5;
}

/* Contato */
section.formcontato {
    display: flex;
    background-color: #EAF2FD;
    height: 580px;
    padding: 4rem 4rem;
}

section.formcontato .formcontato__contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section.formcontato--es
