/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #151515;
   --cor-de-fundo-contato: #242525;
   --cor-da-fonte: #F7F7F7;
   --cor-da-fonte-sub: #d2d2d2;
   --cor-primary: #5FAC8B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo) ;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

body, html {
    width: 100%;
    max-width: 100%;
    position: relative;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

button {
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;

    position: relative;
    width: fit-content;
    padding: 1rem;
    background-color: transparent;
    color: var(--cor-da-fonte);
    border: 1px solid var(--cor-primary);
    border-radius: 8px;
}

input, textarea {
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    color: var(--cor-da-fonte);
    border: none;
    background: none;
}

input::after, textarea::after {
    content: "*";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--cor-primary);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/* BG SVG & img */
.svg_rings {
    position: absolute;
    top: 120px;
    left: -180px;
    width: 480px;

    z-index: 0;
}

.profile {
    position: absolute;
    top: 0;
    right: 180px;
    z-index: 0;
}

.profile__img {
    width: 480px;
    border-radius: 8px;
}

.profile__svg_circle {
    width: 120px;
    position: absolute;
    bottom: 82px;
    left: -64px;
}

/*Sessão Menu*/

header.header {
    height: 88px;

    padding: 0px 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;
}

.header__logo{
    
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.header__socials {
    padding: 0px 0px;
}

.header__socials_buttons {
    background-color: transparent;
    border: none;

    padding: 0.5rem;
}

.header__socials_button_images {
    width: 16px;
    height: 16px;
}

/*Sessão Title*/

section.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    padding: 82px 180px 280px;

    z-index: 40;
}

.profile__img_mobile {
    display: none;
}

.hero__title {
    width: 60%;
    
    font-size: 72px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    margin: 0;
    padding: 0;
}

.hero__subtitle {
    width: 50%;
    font-size: 16px;
    line-height: 20px;
    color: var(--cor-da-fonte-sub);
}

.hero__title_nome {
    position: relative;
    
    font-size: 64px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.hero__title_nome::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: var(--cor-primary);
    z-index: -1;
}

.divisor {  
    margin: 0px 180px;
    height: 1px;
    background-color: var(--cor-da-fonte);
}

/*Sessão About*/

section.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 180px;
}

.svg_rings_skills {
    position: absolute;
    bottom: 120px;
    right: -180px;
    width: 480px;

    z-index: 0;
}

.skills__title {
    width: 100%;
    text-align: start;
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.skills__title {
    font-size: 32px;
    
    color: var(--cor-da-fonte);
    font-weight: bold;
}

.skills__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills__item_title {
    font-size: 42px;
    
    color: var(--cor-da-fonte);
    font-weight: bold;
}

.skills__item_subtitle {
    font-size: 16px;
    color: var(--cor-da-fonte-sub);
}

/* Experiência Acadêmica*/

section.academics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 180px;
}

.academics__title {
    width: 100%;
    text-align: start;
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.academics__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.academics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.academics__item_img {
    width: 240px;
    height: 240px;
}

.academics__item_title {
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    text-align: center;
}

.academics__item_subtitle {
    color: var(--cor-da-fonte-sub);
}

/* experiência*/

section.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 180px;
}

.projects__title {
    width: 100%;
    text-align: start;
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.projects__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.projects__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 1rem;
    border: 2px solid var(--cor-da-fonte);
    border-radius: 8px;
}

.projects__container__title {
    color: var(--cor-da-fonte);
}

.projects__container__description {
    color: var(--cor-da-fonte-sub);
    text-align: center;
}

.projects__container__language {
    color: var(--cor-da-fonte-sub);
    background-color: var(--cor-primary);
    padding: 0.2rem;
    border-radius: 8px;
}

/*Contato*/

.svg_rings_contato {
    position: absolute;
    bottom: 120px;
    left: -180px;
    width: 480px;

    z-index: 0;
}

section.contato{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 32px;

    background-color: var(--cor-de-fundo-contato);

    padding: 64px 180px;
}

.contato__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contato__left_title {
    font-size: 64px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.contato__left_subtitle {
    width: 70%;
    font-size: 16px;
    color: var(--cor-da-fonte-sub);
}

.contato__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

form.contato__right_form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato__right_nome, .contato__right_email, .contato__right_assunto, .contato__right_mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contato__right_input {
    padding: 1rem;
}

.contato__right_enviar {
    width: 100%;
    display: flex;
    justify-content: end;
}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {

/* BG SVG & img */
.svg_rings {
    position: absolute;
    top: 88px;
    left: -240px;
    width: 480px;
}

.profile {
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 8px;
    z-index: 40;
}

.profile__img {
    width: 388px;
}

.profile__svg_circle {
    width: 64px;
    position: absolute;
    bottom: 12px;
    left: -36px;
}

/* Menu */

header.header {
    height: 54px;
    padding: 16px 32px;
}

/*title*/

section.hero {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 64px 32px 78px;
}

.hero__title {
    width: 70%;
    
    font-size: 64px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    margin: 0;
    padding: 0;
}

.divisor {  
    margin: 0px 32px;
    height: 1px;
    background-color: var(--cor-da-fonte);
}

/*Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 32px;
}

.skills__title {
    font-size: 32px;
}

.skills__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

/*Experiências acadêmicas*/
section.academics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 32px;
}

.academics__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.academics__title {
    font-size: 32px;
}

/*Expeirência profissional*/
section.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 32px;
}

.projects__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

}

/*Mobile*/
@media (max-width: 480px) {

    .svg_rings {
        position: absolute;
        top: 120px;
        left: -240px;
        width: 520px;
    
        z-index: 2;
    }
    
    .profile {
        display: none;
    }
    
    .profile__img {
        width: 240px;
    }
    
    .profile__svg_circle {
        width: 120px;
        position: absolute;
        bottom: 82px;
        left: -64px;
    }

/*Menu*/

header.header {
    height: fit-content;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/*Titulo*/

section.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 16px 16px 32px; 
}

.profile__img_mobile {
    display: block;
    width: 240px;

    z-index: 0;
}

.hero__title {
    width: 100%;
    text-align: center;
    
    font-size: 38px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    margin: 0;
    padding: 0;
}

.hero__subtitle {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--cor-da-fonte-sub);
}

.hero__title_nome {
    width: 100%;
    text-align: center;
    position: relative;
    
    font-size: 38px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.divisor {  
    margin: 0px 16px;
    height: 1px;
    background-color: var(--cor-da-fonte);
}

/*Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 16px 16px;
}

.skills__title {
    font-size: 32px;
    text-align: center;
}

.skills__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.skills__item {
    align-items: center;
}
 
/*Formação Acadêmica*/

section.academics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 16px;
}

.academics__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.academics__title {
    font-size: 32px;
    text-align: center;
}

/*Experiência Profissional*/

section.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px 16px;
}

.projects__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.projects__title {
    font-size: 32px;
    text-align: center;
}

 /*Contato*/

/*Footer*/

}
